.background {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, black,black, rgb(11, 11, 90), rgb(189, 86, 18), red);

}

.moon {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: -45px;
    right: -80px;
    background-color: white;
}
.stars {
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation-iteration-count: infinite;
}
.star1 {
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    margin-top: 25%;
    margin-left: 10%;
    animation-name: twinkle1;
    animation-duration: 3s;
}
.star2 {
    margin-top: 5%;
    margin-left: 5%;
    animation-name: twinkle2;
    animation-duration: 2s;
}
.star3 {
    margin-top: 15%;
    margin-left: 20%;
    animation-name: twinkle3;
    animation-duration:3ms ;
}
.star4 {
    margin-top: 45%;
    margin-left: 13%;
    animation-name: twinkle4;
    animation-duration: 3s;
}
.star5 {
    margin-top: 11%;
    margin-left: 11%;
    animation-name: twinkle5;
    animation-duration: 5s;
}

@keyframes twinkle1 {
    50% {
        transform: scale(0.5);
        opacity: 0.1;
    }
}
@keyframes twinkle2 {
    50% {
        transform: scale(0.5);
        opacity: 0.1;
    }
}
@keyframes twinkle3 {
    50% {
        transform: scale(0.5);
        opacity: 0.1;
    }
}
@keyframes twinkle4 {
    50% {
        transform: scale(0.8);
        opacity: 0.1;
    }
}
@keyframes twinkle5 {
    50% {
        transform: scale(0.5);
        opacity: 0.1;
    }
}


